<h1>Edit Drawing</h1>
<div class="form-block">
  <div class="drawing">
    <img src="<%= @drawing.image %>">
  </div>
  <%= form_for [@user, @drawing] do |f| %>

  <% if @drawing.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @drawing.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <% if current_user.admin? %>
    <%= f.label :showcase %>
    <p>
      <%= f.radio_button :showcase, true %>
      <%= label :showcase, 'Yes' %>
      
      <%= f.radio_button :showcase, false %>
      <%= label :showcase, 'No' %>
    </p>

    <%= f.label :reviewed %>
    <p>
      <%= f.radio_button :reviewed, true %>
      <%= label :reviewed, 'Yes' %>
      
      <%= f.radio_button :reviewed, false %>
      <%= label :reviewed, 'No' %>
    </p>
    <% end %>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :location %><br>
      <%= f.text_field :location %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

</div>
