<%= javascript_tag do %>
  window.mapImgUrl = '<%= raw @address_url %>';
<% end %>

<h1>New Drawing</h1>
<div class="icon-row">
  <div class="feature-icon feature">
    <img src="/images/pencil-ruler.png" alt="Start Drawing"/>
  </div>
</div>
<div class="form-block">

  <%= form_for [@user, @drawing] do |f| %>

  <% if @drawing.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @drawing.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="drawing">
        <canvas width="600" height="320" id="cvs"></canvas>
            <div class="controls">
                <input name="color2" type="hidden" id="color_value" value="66ccff">
                <input type="image" id="color" class="jscolor {valueElement: 'color_value'}" src="/images/color.png"/>
                <!-- <button id="eraser">Eraser</button> -->
                <input type="image" id="clear" src="/images/eraser.png"/>
                <input type="range" name="stroke" id="stroke-width" min="1" max="10" value="2">
            </div>
    </div>

    <%= f.hidden_field :image %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :location %><br>
      <%= f.text_field :location, :value => params[:address] %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.submit :id => 'create-drawing' %>
    </p>

  <% end %>
  <div id="new-image">
  </div>

<%= link_to 'Cancel', root_path %>
</div>
