<%= javascript_tag do %>
  window.mapImgUrl = '<%= raw @address_url %>';
<% end %>

<h1>New Drawing</h1>
<div class="form-block">

  <%= form_for @drawing do |f| %>

  <% if @drawing.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @drawing.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="drawing">
        <canvas width="600" height="320" id="cvs"></canvas>
            <p>
                <input name="color2" type="hidden" id="color_value" value="66ccff">
                <button class="jscolor {valueElement: 'color_value'}">Pick a color</button>
            </p>
    </div>
    <p>Are you done drawing? Right-click to save you new map sketch image, Then upload the image by using the file upload here:</p>
    <p>
    <%= f.file_field :drawing_image %>
    </p>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :location %><br>
      <%= f.text_field :location, :value => params[:address] %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.submit :id => 'create-drawing' %>
    </p>

  <% end %>
  <div id="new-image">
  </div>

<%= link_to 'Back', drawings_path, :class => 'fa fa-arrow-left' %>
</div>
