<p>
  <strong>Title:</strong>
  <%= @drawing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @drawing.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @drawing.location %>
</p>

<h2>Comments</h2>
<%= render @drawing.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', drawings_path %> | <%= link_to 'Edit', edit_drawing_path(@drawing) %>
