<header class="navbar">
    <div class="container">
        <h1 id="logo"><%= link_to 'mapsketch', root_path %></h1>
        <nav class="main-nav">
          <% if current_user.try(:admin?) %>
          <%= link_to 'Blocked', '/admin', :class => current_class?('/admin') %>
          <% end %>
          <%= link_to 'Featured', drawings_path, :class => current_class?(drawings_path) %>
          <%= link_to 'Create', drawings_get_address_path, :class => current_class?(drawings_get_address_path) %>
          <% if user_signed_in? %>
          <%= link_to 'My Drawings', creates_path, :class => current_class?(creates_path) %>
          <%= link_to favorites_path, title: "Favorites", :class => current_class?(favorites_path)  do %>
            <%= fa_icon 'heart fa-1' %>
          <% end %>
          <% if current_user.try(:admin?) %>
            <%= link_to '/notifications', title: "Notifications", :class => current_class?('/notifications')  do %>
              <%= fa_icon 'bell fa-1' %>
          <% end %>
          <% end %>
          <div class="dropdown">
            <%= fa_icon 'user-o fa-1', :id => 'profile' %>
            <div class="dropdown-content">
            <%= link_to 'Profile', edit_user_registration_path, :class => current_class?(edit_user_registration_path) %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            </div>
          </div>
          <% else %>
          <%= link_to 'Sign up', new_user_registration_path, :class => current_class?(new_user_registration_path)  %>
          <%= link_to 'Login', new_user_session_path, :class => current_class?(new_user_session_path)  %>
          <% end %>
        </nav>
    </div>
    <div class="mobile-icon"><a href="/"><img src="/images/menu.png"></a></div>
      <div class="mobile-menu">
        <nav class="mobile-navigation">
          <% if current_user.try(:admin?) %>
          <%= link_to 'Blocked', '/admin', :class => current_class?('/admin') %>
          <% end %>
          <%= link_to 'Featured', drawings_path, :class => current_class?(drawings_path) %>
          <%= link_to 'Create', drawings_get_address_path, :class => current_class?(drawings_get_address_path) %>
          <% if user_signed_in? %>
          <%= link_to 'My Drawings', creates_path, :class => current_class?(creates_path) %>
          <%= link_to 'Profile', '/pages/profile', :class => current_class?('/pages/profile') %>
          <%= link_to 'Favorites', favorites_path, :class => current_class?(favorites_path) %>
          <% if current_user.try(:admin?) %>
            <%= link_to 'Notifications', '/notifications', :class => current_class?('/notifications') %>
          <% end %>
          <%= link_to 'Profile', edit_user_registration_path, :class => current_class?(edit_user_registration_path) %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to 'Sign up', new_user_registration_path, :class => current_class?(new_user_registration_path)  %>
          <%= link_to 'Login', new_user_session_path, :class => current_class?(new_user_session_path)  %>
          <% end %>
        </nav>
    </div>
  </header>