<!DOCTYPE html>
<html>
  <head>
    <title>MapSketch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <%= render 'layouts/header' %>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container">
      <div class="content">
      <% flash.each do |type, message| %>
        <p class="flash <%= type %>"><%= message %></p>
      <% end %>
      <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/analytics' %>
  </body>
</html>
