<!DOCTYPE html>
<html>
  <head>
    <title>MapSketch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag '/favicon.ico' %>
  </head>
  <header>
    <div class="container">
        <h1 id="logo"><%= link_to 'mapsketch', root_path %></h1>
        <nav>
          <%= link_to 'Drawings', drawings_path %>
          <% if user_signed_in? %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </nav>
    </div>
  </header>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container">
      <div class="content">
      <% flash.each do |type, message| %>
        <p class="flash <%= type %>"><%= message %></p>
      <% end %>
      <%= yield %>
      </div>
    </div>
  </body>
</html>
